.App {
  text-align: center;
  position: relative;
}

.scale {
  position: absolute;
  bottom: 50px;
  left: 5px;
  z-index: 10001;
  border: 1px solid red;
  height: 25px;
  background-color: grey;
}
